@{
    ViewBag.Title = "EditPost";
}

<h2>EditPost</h2>

<p>@Html.ActionLink("Add Post", "AddPost")</p>

@Html.ActionLink("Show Recent from blog area", "ShowRecent", "Blog", new { area = "blog" }, null)

