@model MvcModelValidation.Models.Appointment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Completed</title>
</head>
<body>
    <div>
        Completed
    </div>
</body>
</html>
