@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

@using (Html.BeginForm())
{
    @Html.TextBox("movies")
    @Html.TextBox("movies")
    @Html.TextBox("movies")

    <input type="submit" value="OK" />
}