<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->

  <variable name="exceptionTextLayout" value="${message}${newline}${longdate}${newline}${newline}${event-context:item=exception}
${newline}
Stack trace: ${stacktrace}
Callsite: ${callsite}
Machine name: ${machinename}
Base dir: ${basedir}
Windows identity: ${windows-identity}
Process name: ${processname}
Process info: ${processinfo}
Thread id: ${threadid}${newline}
Context:${newline}
Controller: ${event-context:item=controller}
Action: ${event-context:item=action}
Route values: ${event-context:item=routevalues}
Browser: ${event-context:item=browser}
Http method: ${event-context:item=httpmethod}
Raw url: ${event-context:item=rawurl}
User: ${event-context:item=user}" />
  
  <targets>
    <target xsi:type="File"
          name="exceptionsFile"
          fileName="${basedir}/App_Data/${logger}-${shortdate}.log"
          archiveNumbering="Sequence"
          layout="${exceptionTextLayout}"
          archiveAboveSize="500000" />

  </targets>

  <rules>
    <logger name="exception" minlevel="Error" writeTo="exceptionsFile" />
  </rules>
</nlog>


