@model MvcTemplatedViewHelpers.Models.Role

<select id="Role" name="Role">

@foreach (MvcTemplatedViewHelpers.Models.Role value in Enum.GetValues(typeof(MvcTemplatedViewHelpers.Models.Role)))
{
    <option value="@value" @(Model == value ? "selected=\"selected\"" : "")>@value
    </option>
}
</select>